.App {
  background-color: #F3E9FC;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

/*WHOLE PAGE */
.header {
  margin: auto;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;

}

.header-item {
  flex: 1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
