.App {
  background-color: #F3E9FC;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

/*WHOLE PAGE */
.header {
  margin: auto;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;

}

.header-item {
  flex: 1;
}


.floorContainer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  color: #140322;
}

.floorData {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
